version: '3.9'

services:
  front-end:
    image: muzaffaribrar/ems-system:frontend

#    build:
 #     context: ./front-end
    ports:
      - "5173:80"
    depends_on:
      - backend

  backend:
    image: muzaffaribrar/ems-system:backend

   # build:
    #  context: ./Backend
   # ports:
      - "3000:3000"
    environment:
      - MONGO_URI=${MONGO_URI}
    depends_on:
      - mongo

  mongo:
    image: mongo:7.0
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
