name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout repository
      - name: Checkout code
        uses: actions/checkout@v3

      # 2️⃣ Set up Docker Buildx
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      # 3️⃣ Login to Docker Hub
      - name: Docker Hub Login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # 4️⃣ Build + Push Frontend Image
      - name: Build and push Frontend Docker image
        run: |
          docker build -t muzaffaribrar/ems-system:frontend ./front-end
          docker push muzaffaribrar/ems-system:frontend

      # 5️⃣ Build + Push Backend Image
      - name: Build and push Backend Docker image
        run: |
          docker build -t muzaffaribrar/ems-system:backend ./Backend
          docker push muzaffaribrar/ems-system:backend

      # 6️⃣ Deploy on EC2
      - name: Deploy to EC2
        env: 
          # Store Mongo URI and EC2 HOST VALUE secret in a variable BEFORE SSH

          MONGO_URI_VALUE: ${{ secrets.MONGO_URI }}
          EC2_HOST_VALUE: ${{ secrets.EC2_HOST }}
          JWT_SECRET: ${{ secrets.JWT_SECRET }}
          EMAIL_USER: ${{ secrets.EMAIL_USER }}
          EMAIL_PASS: ${{ secrets.EMAIL_PASS }}
          JWT_EXPIRES_IN: ${{ secrets.JWT_EXPIRES_IN }}
          PORT: ${{ secrets.PORT }}
        run: |
          # Save PEM key
          echo "${{ secrets.EC2_PEM }}" > key.pem
          chmod 600 key.pem

          # Copy docker-compose.yml to EC2
          scp -o StrictHostKeyChecking=no -i key.pem docker-compose/docker-compose.yml ubuntu@18.218.243.84:/home/ubuntu/my-project/docker-compose.yml          

          # SSH into EC2 and deploy
          ssh -o StrictHostKeyChecking=no -i key.pem ubuntu@18.218.243.84 << EOF
            cd /home/ubuntu/my-project

            # Write variables into .env
            echo MONGO_URI=$MONGO_URI_VALUE > .env
            echo VITE_API_URL=http://$EC2_HOST_VALUE:3000 >> .env
            echo "VITE_PYTHON_API_URL=http://$EC2_HOST_VALUE:8000" >> .env
            echo "JWT_SECRET=$JWT_SECRET" >> .env
            echo "EMAIL_USER=$EMAIL_USER" >> .env
            echo "EMAIL_PASS=$EMAIL_PASS" >> .env
            echo "JWT_EXPIRES_IN=$JWT_EXPIRES_IN" >> .env
            echo "PORT=$PORT" >> .env
            chmod 600 .env

            echo "Pulling latest Docker images..."
            docker pull muzaffaribrar/ems-system:frontend
            docker pull muzaffaribrar/ems-system:backend

            echo "Starting containers..."
            docker-compose up -d --remove-orphans --force-recreate
          EOF
