name: CI/CD Pipeline

on:
  push:
    branches:
      - main  # Trigger on pushes to main branch

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout code
      - name: Checkout code
        uses: actions/checkout@v3

      # 2️⃣ Set up Docker Buildx
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      # 3️⃣ Login to Docker Hub
      - name: Docker Hub Login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # 4️⃣ Build and push Frontend image with tag "frontend"
      - name: Build and push Frontend Docker image
        run: |
          docker build -t muzaffaribrar/ems-system:frontend ./front-end
          docker push muzaffaribrar/ems-system:frontend

      # 5️⃣ Build and push Backend image with tag "backend"
      - name: Build and push Backend Docker image
        env:
          MONGO_URI: ${{ secrets.MONGO_URI }}
        run: |
          docker build -t muzaffaribrar/ems-system:backend ./Backend
          docker push muzaffaribrar/ems-system:backend

      # 6️⃣ Deploy to EC2
      - name: Deploy to EC2
        env:
          MONGO_URI: ${{ secrets.MONGO_URI }}
        run: |
          # Save PEM key
          echo "${{ secrets.EC2_PEM }}" > key.pem
          chmod 600 key.pem

          # Copy docker-compose.yml to EC2
          scp -o StrictHostKeyChecking=no -i key.pem docker-compose/docker-compose.yml ubuntu@18.218.243.84:/home/ubuntu/my-project/docker-compose.yml
          # Create .env file with MONGO_URI (secure)
          echo 'MONGO_URI=${{ secrets.MONGO_URI }}' > .env
          chmod 600 .env  # secure permission
          # SSH and deploy
          ssh -o StrictHostKeyChecking=no -i key.pem ubuntu@18.218.243.84 "
            cd /home/ubuntu/my-project &&
            docker pull muzaffaribrar/ems-system:frontend &&
            docker pull muzaffaribrar/ems-system:backend &&
            docker-compose up -d --remove-orphans
          "
