name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      # Checkout code
      - name: Checkout
        uses: actions/checkout@v3

      # Set up Docker Buildx
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      # Docker login
      - name: Docker login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Build and push Docker images
      - name: Build and push Docker images
        env:
          MONGO_URI: ${{ secrets.MONGO_URI }}
        run: |
          docker compose build
          docker compose push

      # Setup SSH key
      - name: Setup SSH key
        run: |
          echo "${{ secrets.EC2_PEM }}" > key.pem
          chmod 600 key.pem

      # Deploy to EC2
      - name: Deploy to EC2
        env:
          MONGO_URI: ${{ secrets.MONGO_URI }}
        run: |
          ssh -o StrictHostKeyChecking=no -i key.pem ubuntu@18.218.243.84 "
            export MONGO_URI=${MONGO_URI} &&
            cd /home/ubuntu/my-project &&
            git reset --hard &&
            git pull origin main &&
            docker-compose pull &&
            docker-compose up -d --remove-orphans
          "

